@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)
<!DOCTYPE html>
<html lang=en >
<head>

</head>


<body class="center-main">

<script src='@routes.Assets.at("javascripts/js/angular.min.js")'></script>
<script src='@routes.Assets.at("javascripts/js/angular-messages.min.js")'></script>
<!--<script src='@routes.Assets.at("javascripts/js/angular-messages.js")'></script>-->
<script src='@routes.Assets.at("javascripts/js/route.js")'></script>
<!--<script src='@routes.Assets.at("javascripts/js/moment.min.js")'></script>-->
<script src='@routes.Assets.at("javascripts/js/moment-with-locales.min.js")'></script>
<link href='@routes.Assets.at("javascripts/js/turbo.css")' rel=stylesheet>

<script src='@routes.Assets.at("javascripts/js/angular-moment-picker.js")'></script>
<script src='@routes.Assets.at("javascripts/js/angular-moment-picker.min.js")'></script>

<link href='@routes.Assets.at("javascripts/js/angular-moment-picker.css")' rel=stylesheet>
<link href='@routes.Assets.at("javascripts/js/angular-moment-picker.min.css")' rel=stylesheet>

<link href='@routes.Assets.at("stylesheets/vendor/bootstrap/css/bootstrap.min.css")' rel=stylesheet>




<div ng-app="myApp2" class="center-div">

  <!--  <div  ng-controller="myCtrl">

        First Name: <input class="input" type="text" ng-model="firstName"><br><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}} {{1+1}}

        <br>
        <button ng-click="addName()">RESET</button>
        <br>

        <h1>{{myWelcome}}</h1>


    </div>

    <div  ng-controller="myCtrl22">

        First Name: <input class="input" type="text" ng-model="firstName"><br><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}} {{1+1}}

        <br>
        <button ng-click="changeName()">RESET</button>
        <br>


        <h1>{{firstName2}}</h1>

       <!-- <label for="meeting">Meeting Date : </label><input id="meeting" type="dapricealue="2011-01-13"/>



    </div>




    <div  ng-controller="sendSimpleStuff" ng-controller="DateController">
        <h5>send stuff</h5>

        First Name: <input class="input" type="text" ng-model="firstName2"><br><br>
        Last Name: <input type="text" ng-model="lastName2"><br>
        Age: <input type="text" ng-model="age2"><br>
        <br>
        Full Name: {{firstName2 + " " + lastName2 + " " + age2}} {{1+1}}

        <br>
        <button ng-click="send()">send</button>
        <br>



        <h1>sending this : {{firstName2 + " " + lastName2}}</h1>


    </div> -->



    <div  ng-controller="MainCtrl">
        <h3>Please fill the form :)</h3>

        <br>---------------------------
        <br>

        <li ng-repeat="x in justData.records">
            {{x.Name}}
        </li>
              <li ng-repeat="x in myWelcome2">
            {{x.name +" "+ x.name}}
        </li>

        {{myWelcome2.try1.name}}
        <br>

        </li>
        DAR KO BLET
        <li ng-repeat="x in myWelcome2.massagePriceList">
            {{x.massageName + " "+ x.price}}
        </li>

        <br>lol:{{lomas}}<br>

        <select ng-model="duxx"
                ng-options="item.massageName  +' == '+  item.price +'CHF'+ '' | uppercase for item in loxx.massageListAndPrices">
            <option value="">Select Account</option>
        </select>

        <br>
        lox =
        {{loxx}}




        <br>

        fake: {{myWelcome2}}
<br>
        <button ng-click="getData()">GetData</button>


        <br>==============================
        <br>

        object: {{obj}}
        <br>
        myWelcome: {{myWelcome}}
        <br>



        <br>

        <input type="text" ng-model="testing" placeholder="testing" name="testing"><br>

        <br>
        <br>

        <button ng-click="subMe()">SubmSubMeit</button> {{pizdiec}}


        <p>Username:<br>
            <input type="text" name="user" ng-model="olox" required>
            <span  ng-show="myForm.user.$dirty && myForm.user.$invalid">
<span ng-show="myForm.user.$error.required">Username is required.</span>
</span>
        </p>


        <ng-form name="myForm2">
            <input type="email" name="myInput2" ng-model="myInputx">
        </ng-form>

        <p>The input's valid state is:</p>
        <h1>{{myForm2.myInput2.$dirty}}</h1>
        <span ng-show="myForm2.myInput2.$dirty">fU</span>

        <form  novalidate>

            <form name="fuck">
            First Name:  <br/>
            <input  type="text" ng-model="user.firstName" name="name1" placeholder="Name"
                   id="labelName" ng-minlength="5"><br>


                <span class="error"  ng-show="fuck.name1.$error">{{fuck.name1.$error.required}}</span>
            <br>
            </form>

            <label for="labelSurname">Last Name:</label> <br/>
            <input type="text" ng-model="user.lastName" placeholder="Surname" id="labelSurname" name="sname"><br>

            <br>

            <label class="item item-input">Email </label> <br/>
            <input type="email" placeholder="Email" ng-model="user.email" name="email" ><br>
            <!--<span ng-if="bookingForm.email.$invalid" >Fill me!</span>-->

            <br>

            <label class="item item-input">Phone Number </label> <br/>
            <input type="tel" placeholder="Phone" ng-model="user.phone" name="number" > <br>
           <!-- <span ng-show="bookingForm.number.$touched">{{baby}}</span>-->
            <br>
            <label class="item item-input">Pick a Massage </label> <br/>
            <select ng-model="user.selectedItem" ng-options="x for x in names">
            </select>

<br>




            <br/><br>
            <span>Pick a Date</span>
            <div moment-picker="memberSince"
                 format="YYYY-MM-DD"
                 selectable="disabledDates(date, type)"
                 max-view="month"
                 min-view="mindate"
                 min-date="startDate"
                 start-view="month"
                 autoclose="true"
                 today="true"
                 start-date="memberSince">

                {{ memberSince || "Pick a Date" }}
            </div>
            <br>


            <span>Pick a Time</span>
            <div moment-picker="memberSince1"
                 format="HH:mm"
                 max-view="hour"
                 autoclose="true"
                 selectable="disabledTimes(date, type)"
                 min-date="startHour"
                 max-date="endHour"
                 today="true"
                 start-date="memberSince1"
                 show-header="false">

            {{ memberSince1 || "Select a date" }}
            </div>
            <br>

            <label class="item item-input">Message </label> <br/>
            <textarea placeholder="Message" ng-model="user.message" name="textarea" rows="4" cols="30"></textarea>
            <br>
            <br>

            <br>
            <button ng-click="submitMe()">Submit</button> {{pizdiec}}
            <br>




            <button ng-click="submitFullForm()">submitFullForm</button> {{pizdiec}}
            <br>


        </form>

        <div>
            <h3>You have submitted the following information:</h3>
            First Name: {{submittedFirstName}}<br>
            Last Name: {{submittedLastName}}<br>
            Email: {{submittedEmail}}<br>
            Phone: {{submittedPhone}}<br>
            SelectedItem: {{submittedItem}}<br>
            Phone: {{submittedPhone}}<br>
            Date: {{submittedDate}}<br>
            Time: {{submittedTime}}<br>
            Message: {{submittedMessage}}<br>
            WHAT: {{wtf}}<br>



        </div>
    </div>


<!--Stuff chosen:
            {{dateChosen}}<br>
            {{timeChosen}}


        </form>
        <br>


        <span>Pick a Date</span>
    <div moment-picker="memberSince"
         format="YYYY-MM-DD"
         selectable="disabledDates(date, type)"
         max-view="month"
         min-view="mindate"
         min-date="startDate"
         start-view="month"
         autoclose="true"
         today="true"
         start-date="memberSince"
    >
        {{ memberSince || "Select a date" }}
    </div>
        <br>Chosen Date: {{memberSince}}
    <br />
    <hr />
    <span>Time</span>
    <div moment-picker="memberSince1"
         format="HH:mm"
         max-view="hour"
         autoclose="true"
         selectable="disabledTimes(date, type)"

         min-date="startHour"
         max-date="endHour"
         today="true"
         start-date="memberSince1"
         show-header="false"
    >
        {{ memberSince1 || "Select a date" }}


    </div>
        <br>Chosen Time: {{memberSince1}}

        <br />
        Date format:{{suka}}

        <br />
        Time format:{{formatas}}
        Time format:{{formatas2}}
        <hr />

        </form>
        <br>

        <form name="loginForm" novalidate >
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="batman" name="email" required>
            </label>

            <br>
            <div ng-messages="loginForm.email.$error"  >
                <div ng-message="required" >Please input a valid e-mail address</div>
                <div ng-message="email">You did not enter your email address correctly...</div>
            </div>
        </form>

    </div>




</div>-->




    <!--<div ng-controller="ctrl1" ng-include="'@routes.Assets.at("javascripts/js/mypage.html")'"></div>
-->

    <!-- <div ng-controller="booking">
                <h3>Uzsakyti masaza</h3>


         Vardas: <input class="input" type="text" ng-model="firstName"><br><br>
         Pavarde: <input class="input" type="text" ng-model="lastName"><br><br>
         El. pastas: <input class="input" type="text" ng-model="email"><br><br>
         Telefono numeris: <input class="input" type="text" ng-model="phone"><br><br>
         Masazas: <input class="input" type="text" ng-model="massageList"><br><br>
         Data: <input class="input" type="text" ng-model="date"><br><br>
         Laikas: <input class="input" type="text" ng-model="time"><br><br>
         Pageidavimai: <input class="input" type="text" ng-model="additionalMessage"><br><br>

         <br>
         <button ng-click="bookMassage()">Uzsakyti</button>
         <br>

     </div>-->

</div>



</body>

</html>