@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)
<!DOCTYPE html>

<html lang=lt>
<head>

</head>


<body class="center-main">

<script src='@routes.Assets.at("javascripts/js/angular.min.js")'></script>
<script src='@routes.Assets.at("javascripts/js/angular-messages.min.js")'></script>
<!--<script src='@routes.Assets.at("javascripts/js/angular-messages.js")'></script>-->
<script src='@routes.Assets.at("javascripts/js/formController.js")'></script>
<!--<script src='@routes.Assets.at("javascripts/js/moment.min.js")'></script>-->
<script src='@routes.Assets.at("javascripts/js/moment-with-locales.min.js")'></script>
<link href='@routes.Assets.at("javascripts/js/formStyle.css")' rel=stylesheet>

<script src='@routes.Assets.at("javascripts/js/angular-moment-picker.js")'></script>
<script src='@routes.Assets.at("javascripts/js/angular-moment-picker.min.js")'></script>

<link href='@routes.Assets.at("javascripts/js/angular-moment-picker.css")' rel=stylesheet>
<link href='@routes.Assets.at("javascripts/js/angular-moment-picker.min.css")' rel=stylesheet>

<link href='@routes.Assets.at("stylesheets/vendor/bootstrap/css/bootstrap.min.css")' rel=stylesheet>



<section>


    <div ng-app="myFormApp" class="formMainContainer" >



    <div  ng-controller="FormController" class="formDiv">

        <h3 class="labelDiv">{{dynamicTitle}}</h3>
        <br>

        <form name="myForm" novalidate>

            <div class="inputDiv row ">
            <label for="labelFirstName" class="labelDiv">{{dynamicName}}</label>
            <input class="justrying"type="text" ng-model="user.firstName" placeholder={{dynamicPHName}} id="labelFirstName" name="sname" >

            <span class="submitError">{{invalidName}}</span>
           <!-- {{myForm | json}} -->
            </div>

                <br>

            <div class="inputDiv row ">
            <label for="labelSurname" class="labelDiv">{{dynamicSurname}}</label>
            <input class="justrying" type="text" ng-model="user.lastName" placeholder={{dynamicPHSurname}} id="labelSurname" name="sname">
            <span class="submitError">{{invalidLastName}}</span>

            </div>
            <br>

            <div class="inputDiv row ">
            <label class="item item-input labelDiv">{{dynamicEmail}}</label>
            <input class="justrying" type="text" placeholder={{dynamicPHEmail}} ng-model="user.email" name="email" >
            <span class="submitError">{{invalidEmail || invalidEmailFormat}}</span>
            </div>
            <br>
            <div class="inputDiv row ">
            <label class="item item-input labelDiv" >{{dynamicPhone}}</label>
            <input class="justrying" type="tel" placeholder={{dynamicPHPhone}} ng-model="user.phone" name="number" >
            <span class="submitError">{{invalidPhone}}</span>
            </div>
            <br>


            <div class="inputDiv row ">
            <label class="item item-input labelDiv">{{dynamicMassage}}</label>
            <select class="justrying" ng-model="user.massage"
                    ng-options="item.massageName  +' = '+  item.price +' CHF '+'('+ item.length + 'min)' +'' for item in loxx.massageInfo">
                <option class="labelDiv" value="">{{dynamicPHMassage}}</option>
            </select>
            <span class="submitError">{{invalidMassage}}</span>
            </div>
            </br>

            <div class="row">
            <div  class=" col-sm-6 ">
                <label class="item item-input labelDiv">{{dynamicDate}}</label>
                <div class="justrying" moment-picker="chosenDate"
                     format="YYYY-MM-DD"
                     selectable="disabledDates(date, type)"
                     max-view="month"
                     min-view="mindate"
                     min-date="startDate"
                     start-view="month"
                     autoclose="true"
                     today="true"
                     start-date="startDate">

                    {{  chosenDate || dynamicPHDate }}
                </div>
                <span class="submitError">{{invalidDate}}</span>

            </div>

                <div  class=" col-sm-6 ">
                    <label class="item item-input labelDiv">{{dynamicTime}}</label>
                    <div class="justrying" moment-picker="chosenTime"
                         format="HH:mm"
                         max-view="hour"
                         autoclose="true"
                         selectable="disabledTimes(date, type)"
                         min-date="startHour"
                         max-date="endHour"
                         today="true"
                         show-header="false">

                        {{ chosenTime || dynamicPHTime }}
                    </div>
                    <span class="submitError">{{invalidTime}}</span>

                </div>
            </div>

            <br>

           <!-- <span>Pasirinkite Laiką</span>-->

            <br>
            <div class="inputDiv row ">


            <label class="item item-input labelDiv">{{dynamicMessage}}</label>
            <textarea class="justrying" placeholder={{dynamicPHMessage}} ng-model="user.message" name="textarea" rows="3" cols="30"></textarea>
            <br>


            </div>
            <div class="labelDiv">
            <!--<br>
            <button ng-click="checkSubmittedData()">Tikrinti kas įvesta</button> {{pizdiec}}
            <br>
            {{megaFail}}
            <br>-->




            <button ng-click="submitFullForm()">{{dynamicButton}}</button><br>
            <span class="submitSuccess">{{submittedSuccess}}</span>
            <span class="submitError">{{submittedFail}}</span>
            <span class="submitError">{{submitError}}</span>
            <br>
            </div>


        </form>
<!--
        <div>
            <h3>Jūsų pateikėte šią informaciją:</h3>
            First Name: {{submittedFirstName}}<br>
            Last Name: {{submittedLastName}}<br>
            Email: {{submittedEmail}}<br>
            Phone: {{submittedPhone}}<br>
            Massage: {{submittedMassage}}<br>
            Date: {{submittedDate}}<br>
            Time: {{submittedTime}}<br>
            Message: {{submittedMessage}}<br>



        </div>-->
    </div>




</div>

</section>

</body>

</html>