@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)
<!DOCTYPE html>
<html lang=en >
<head>

</head>


<body class="center-main">

<script src='@routes.Assets.at("javascripts/js/angular.min.js")'></script>
<script src='@routes.Assets.at("javascripts/js/angular-messages.min.js")'></script>
<!--<script src='@routes.Assets.at("javascripts/js/angular-messages.js")'></script>-->
<script src='@routes.Assets.at("javascripts/js/formController.js")'></script>
<!--<script src='@routes.Assets.at("javascripts/js/moment.min.js")'></script>-->
<script src='@routes.Assets.at("javascripts/js/moment-with-locales.min.js")'></script>
<link href='@routes.Assets.at("javascripts/js/turbo.css")' rel=stylesheet>

<script src='@routes.Assets.at("javascripts/js/angular-moment-picker.js")'></script>
<script src='@routes.Assets.at("javascripts/js/angular-moment-picker.min.js")'></script>

<link href='@routes.Assets.at("javascripts/js/angular-moment-picker.css")' rel=stylesheet>
<link href='@routes.Assets.at("javascripts/js/angular-moment-picker.min.css")' rel=stylesheet>

<link href='@routes.Assets.at("stylesheets/vendor/bootstrap/css/bootstrap.min.css")' rel=stylesheet>




<div ng-app="myFormApp" class="center-div">





    <div  ng-controller="FormController">
        <h3>Užpildykite formą :)</h3>

        <form name="myForm" novalidate>

            <label for="labelFirstName">Vardas:</label> <br/>
            <input type="text" ng-model="user.firstName" placeholder="Vardas" id="labelFirstName" name="sname" ><br>

            <span>{{invalidName}}</span>
            <br>

            <label for="labelSurname">Pavardė:</label> <br/>
            <input type="text" ng-model="user.lastName" placeholder="Pavardė" id="labelSurname" name="sname"><br>
            <span>{{invalidLastName}}</span>

            <br>

            <label class="item item-input">Elektroninis Paštas </label> <br/>
            <input type="text" placeholder="Email" ng-model="user.email" name="email" ><br>
            <span>{{invalidEmail}}</span>

            <br>

            <label class="item item-input">Telefono Numeris</label> <br/>
            <input type="tel" placeholder="Phone" ng-model="user.phone" name="number" > <br>
            <span>{{invalidPhone}}</span>

            <br>


            <label class="item item-input">Pasirinkite Masažą</label> <br/>
            <select ng-model="user.massage"
                    ng-options="item.massageName  +' = '+  item.price +' CHF '+'('+ item.length + 'min)' +'' for item in loxx.massageInfo">
                <option value="">--------------</option>
            </select>
            <br>
            <span>{{invalidMassage}}</span>



            <br/><br>
            <label class="item item-input">Pasirinkite Datą</label> <br/>
            <div moment-picker="chosenDate"
                 format="YYYY-MM-DD"
                 selectable="disabledDates(date, type)"
                 max-view="month"
                 min-view="mindate"
                 min-date="startDate"
                 start-view="month"
                 autoclose="true"
                 today="true"
                 start-date="chosenDate">

                {{ chosenDate || "--------" }}
            </div>
            <span >{{invalidDate}}</span>
            <br>

           <!-- <span>Pasirinkite Laiką</span>-->
            <label class="item item-input">Pasirinkite Datą</label> <br/>
            <div moment-picker="chosenTime"
                 format="HH:mm"
                 max-view="hour"
                 autoclose="true"
                 selectable="disabledTimes(date, type)"
                 min-date="startHour"
                 max-date="endHour"
                 today="true"
                 start-date="chosenTime"
                 show-header="false">

            {{ chosenTime || "----------" }}
            </div>
            <span >{{invalidTime}}</span>
            <br>

            <label class="item item-input">Jūsų žinutė</label> <br/>
            <textarea placeholder="Pageidavimai" ng-model="user.message" name="textarea" rows="4" cols="30"></textarea>
            <br>
            <span >{{invalidMessage}}</span>
            <br>
            <br>

            <br>
            <button ng-click="checkSubmittedData()">Tikrinti kas įvesta</button> {{pizdiec}}
            <br>
            {{megaFail}}
            <br>




            <button ng-click="submitFullForm()">Užsakyti/Rezervuoti</button> {{pizdiec}}
            {{submittedSuccess}}
            {{submittedFail}}
            <br>


        </form>

        <div>
            <h3>Jūsų pateikėte šią informaciją:</h3>
            First Name: {{submittedFirstName}}<br>
            Last Name: {{submittedLastName}}<br>
            Email: {{submittedEmail}}<br>
            Phone: {{submittedPhone}}<br>
            Massage: {{submittedMassage}}<br>
            Date: {{submittedDate}}<br>
            Time: {{submittedTime}}<br>
            Message: {{submittedMessage}}<br>



        </div>
    </div>




</div>



</body>

</html>