@(message: String, style: String = "java", contactForm: Form[_])
@import helper._

@defining(play.core.PlayVersion.current) { version =>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href='@routes.HomeController.germanVersion'>
                <i class="fa fa-play-circle"></i> <span class="light">Vida</span> Massagen
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#uber">Über mich</a>
                </li>
                <li>
                    <a class="page-scroll" href="#massagen">Massagen</a>
                </li>
                <li>
                    <a class="page-scroll" href="#galerie">Galerie</a>
                </li>
                <li>
                    <a class="page-scroll" href="#preise">Preise</a>
                </li>
                <li>
                    <a class="page-scroll" href="#fragen">Fragen</a>
                </li>
                <li>
                    <a class="page-scroll" href="#kontakte">Kontakte</a>
                </li>

                <li>
                    <a class="page-scroll" href='@routes.HomeController.germanVersion'><img src='@routes.Assets.at("images/img/flag-de2.png")' alt="Deutsche sprache" /></a>
                </li>

                <li>
                    <a class="page-scroll" href='@routes.HomeController.pagrindinisLT'><img src='@routes.Assets.at("images/img/flag-lt2.png")' alt="Litauische sprache" /></a>
                </li>

                <li>
                    <a class="page-scroll" href="@routes.HomeController.russianVersion"><img src='@routes.Assets.at("images/img/flag-rus.png")' alt="Russische sprache" /></a>
                </li>

            </ul>


        </div>

        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"></h1>
                    <p class="intro-text">Massage ist eine der besonderen Faktoren in das Leben einer Person, zu helfen einen guten Körper und Seele zu halten. Und es gibt nichts Besseres als nach einem harten und müden Arbeitstag, entspannen und beleben Sie Ihren Körper mit Massage-Verfahren.</p>
                    <a href="#uber" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
 </header>



<!-- About Section -->
<section id="uber" class="container content-section text-center">
    <div class="row">

        <div class="col-lg-6 ">
            <img src='@routes.Assets.at("images/img/Vida.jpg")' class="img-circle" alt="Vida Polescuk" height="600">


        </div>
        <p></p>
        <div class="col-lg-6 ">

            <h2 align="center"><u>Bildung</u></h2>
            <ul>
                <li>Vilnius Höhere Medizinische Fakultät Litauen.</li>
                <li> Klaipeda Universität. Bachelor Öffentliches Gesundheitswesen verliehen. Litauen.</li>
                <li> 2010 - "Baltic SPA Profi" Kurse (Lettland), Wellness-Massagen.</li>
                <li>2012 - Zentrum für Entwicklung und Spezialisierung des Pflegepersonals: Zertifikat Nr 120146 KV - das Recht hat therapeutische Massage zu machen.</li>

            </ul>
            <p></p>

            <h2 align="center"><u>BERUFSERFAHRUNG</u></h2>
            <ul>
                <li>27 Jahre: Krankenschwester.</li>
                <li>7 Jahre: Gesundheitswesen Specialist.</li>
                <li>7 Jahre: Masseurin.</li>
            </ul>
            <p></p>

            <h2 align="center"><u>SPA Zertifizierungen</u></h2>
            <ul>

                <li>Klassische Segmentmassage </li>
                <li>Hot Stone Massage</li>
                <li>Manuelle Lymphdrainage </li>
                <li>Thai-Fußmassage</li>
                <li>Traditional Kerala Ayurveda-Massage</li>
            </ul>

        </div>
    </div>
    <a href="#massagen" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
</section>

<!-- Download Section -->
<section id="massagen" class="content-section text-center">
    <div class="download-section">
        <h2 id="vienas">Gesundheitsverbessernde Massagen</h2>
        <div class="container">

            <div class="row">

                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#limfodrenazinis">
                        Lymphdrainage massage
                    </button>
                    <p></p>
                    <div id="limfodrenazinis" class="collapse">
                        <!--<div class="text-center"><img src='@routes.Assets.at("images/img/massage164.jpg")'
                                                      class="img-circle" alt="Medicine massage" width="250"
                                                      height="250"></a></div>-->
                        <div class="customBackGroundOfDiv " align="center">



                            <button type="button" class="btn btn-primary btn-round-lg btn-xs btn-block btn-width-custom" data-toggle="collapse" data-target="#limfo" >
                                Manuelle Lymphdrainage
                            </button>
                            <div id="limfo" class="collapse customWidth">      <p class="massageText customWidth">Es ist eine sichere effektive Möglichkeit, die Gesundheit zu fördern und zu pflegen Wohlbefinden . Bei gesunden Menschen - es ist eine vorbeugende Maßnahme normalen Stoffwechsel aufrecht zu erhalten. Während der Massage aktiviert die Regeneration geschädigter Weichgewebe, entzündliche Prozesse zu verlangsamen, stärkt das Immunsystem, verbessert die Sauerstoffversorgung der Gewebe. Dies hilft, überschüssige Flüssigkeit aus dem Gewebe und Organe zu beseitigen.</br>
                                Lymphdrainage ist geeignet für diejenigen, die die Schwellung der Beine fühlen, Schwellungen oder einfach Müdigkeit. Nach einem langen Tag, er entspannt müde Beine und gibt ein Gefühl von Leichtigkeit. Es eignet sich auch für Menschen, deren Füße sind immer kalt.</br>
                                Diese Massage ist für Frauen und Männer.</br>
                                Für die Behandlung - empfiehlt jeden Tag, für die Prävention - 2-3 mal pro Woche.</br>
                                Der gewünschte Effekt wird nach 15 Prozeduren erreicht.
                            </p> </div>

                            <button type="button" class="btn btn-primary btn-round-lg btn-xs btn-block btn-width-custom" data-toggle="collapse" data-target="#limfo2" >
                                Manuelle Lymphdrainage Gesicht
                            </button>
                            <div id="limfo2" class="collapse customWidth"><p class="massageText customWidth">Gesichts Lymphdrainage  ist eine Technik der manuellen Therapie, es handelt sich um eine sanfte, und langsame Massage in Richtung der Lymphknoten zur Beseitigung der Giftstoffe auf natürliche Weise, durch die Bewegung der  Haut. Giftstoffe werden dann mobilisiert.</br>

                                Die Lymphdrainage Gesichtsmassage verbessert das natürliche Aussehen im Gesicht und  verjüngt, sie hilft zur Ausscheidung von Flüssigkeiten und Toxinen die in den Geweben angesammelt sind, fördert die Durchblutung und stärkt die Muskulatur.</br>

                                Verhindert das Auftreten von Müdigkeit in unserem Gesicht, verblasst die Zeiches des Alters und macht die Haut frisch und schön. Die Haut sieht jünger und glatter aus.</br>

                                Es gibt viele Vorteile für diese Art von Lymphdrainage:</br>
                                Detoxifying</br>
                                Sie eignet sich hervorragend, um Säcke unter den Augen und Schwellungen zu reduzieren.</br>
                                Fördert die Zellreparatur und verbessern die Haut.</br>
                                Verbessert die Mikrozirkulation der Nährstoffe.</br>
                                Erhöht das Sauerstoff.</br>
                                Verbessert bei Menschen mit Akne das Haut aussehen.</br>
                                Die Technik hat eine beruhigende Wirkung, hilft bei Problemen von Stress und Schlaflosigkeit.</br>
                                Fungiert auch als Nervensystem Beruhigung, so ist es sehr für diejenigen empfohlen, die an Stress und Angst leiden.</p> </div>

                        </div>
                    </div>
                    <p></p>
                </div>


                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#karstusaltu">Heiß-kalt
                        Steinmassage
                    </button>
                    <p></p>
                    <div id="karstusaltu" class="collapse">
                        <!--  <div class="text-center"><img src='@routes.Assets.at("images/img/mas3.jpeg")' class="img-circle"
                                                        alt="Medicine massage" width="250" height="250"></a></div>-->
                        <div class="customBackGroundOfDiv " align="center">

                            <p class="massageText customWidth"> Die Steine, die bei dieser Massage eingesetzt werden, wurden an der Küste der Ostsee gesammelt. Über
                                Tausende von Jahren waren sie den Kräften des Meeres ausgesetzt, wurden von Sonne, Luft und
                                Winden geformt und erhielten so ihre einzigarten Formen und Eigenschaften, die den menschlichen
                                Körper positiv beeinflussen.</br>

                                Die Steine haben die Fähigkeit, Giftstoffe und angestauten Stress abzubauen sowie Anspannungen zu
                                lösen. Sie verbessern den Schlaf, unterstützen den Blutdruck und ihre Energie wirkt sich positiv aufs Herz
                                aus und reguliert so die körpereigenen, natürlichen Kräfte.</br>

                                Diese Massage eignet sich deshalb besonders gegen Müdigkeit und Stress, da die Wärme der Steine
                                muskelentspannend wirken. Die Abwechslung mit den kühlen Steinen wirkt sich dabei vitalisierend auf
                                das vegetative Nervensystem aus und entspannt zudem verkrampfte Rücken-, Kopf- und
                                Nackenmuskulatur.</br>

                                Bei Schwangerschaft, Infektions- und Krebskrankheiten wird diese Massage nicht empfohlen.


                        </div>
                    </div>
                    <p></p>
                </div>

                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#segmentinis">Rücken Massage
                    </button>
                    <p></p>
                    <div id="segmentinis" class="collapse">
                        <!--  <div class="text-center"><img src='@routes.Assets.at("images/img/mas3.jpeg")' class="img-circle"
                                                        alt="Medicine massage" width="250" height="250"></a></div>-->
                        <div class="customBackGroundOfDiv " align="center">

                            <p class="massageText customWidth">Die Rücken Massage ist eine gelungene Synthese der unterschiedlichsten Techniken aus Ost und West mit dem einen Ziel: den Rücken und insbesondere den Schulter- und Nackenbereich optimal zu entspannen. Anschaulich, leicht verständlich und Schritt für Schritt erklärt erarbeiten wir Techniken und Griffe um die Rückenmuskulatur besonders tiefgehend zu entspannen und somit das Wohlbefinden erheblich zu steigern.
                                Die Rücken Massage ist eine feinfühlige, stark energetische Rückenmassage, die imstande ist, Blockaden zu lösen.
                                </br> Wirksam für folgende Indikationen:
                                </br> Bei Verspannungen im Nacken und Schulterbereich
                                </br> Wirkungsvolle Hilfe zur Stressbewältigung
                                </br> Zur Linderung von spannungsbedingten Kopfschmerzen
                                Regulation von Durchblutungsstörungen im Bereich des oberen Rücken.</p>


                        </div>
                    </div>
                </div>


            </div>

            <div class="row">


                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#demo33" >
                        Individuelle Körpermassagen
                    </button>
                    <p></p>
                    <div id="demo33" class="collapse">
                        <!--  <div class="text-center"><img src='@routes.Assets.at("images/img/massage164.jpg")'
                                                        class="img-circle" alt="Medicine massage" width="250"
                                                        height="250"></a></div>-->
                        <div class="customBackGroundOfDiv" align="center">
                            <button type="button" class="btn btn-primary btn-round-lg btn-xs btn-block btn-width-custom" data-toggle="collapse" data-target="#galva" >
                                Kopfmassage
                            </button>
                            <div id="galva" class="collapse customWidth"><p class="massageText">Entspannt bei Stress, lindert Krämpfe, verbessert den Blutkreislauf.</p> </div>

                            <button type="button" class="btn btn-primary btn-round-lg btn-xs btn-block btn-width-custom" data-toggle="collapse" data-target="#peciai" >
                                Massage Schulter - Hals - Hände
                            </button>
                            <div id="peciai" class="collapse customWidth"><p class="massageText">Die effektivste Behandlung, sowie ein Heilmittel für die Beseitigung von unangenehmen Symptomen. Nach der ersten Massage des Halses, fühlen Sie eine allgemeine Verbesserung in Ihrem Gesundheitszustand. Nach einem vollen Massagen verschwinden schmerzhafte Empfindungen, die Arbeitskapazität steigt, Schlaflosigkeit und Reizbarkeit verschwinden. Nackenmassage ist ein ausgezeichnetes Werkzeug, um Kopfschmerzen loszuwerden.
                                </br>Dies ist eine hervorragende Maßnahme zur Reduzierung von Kopf, Hals, Schulter Schmerzen, Taubheit Hände.</p> </div>





                            <button type="button" class="btn btn-primary btn-round-lg btn-xs btn-block btn-width-custom" data-toggle="collapse" data-target="#pilvo" >
                                Bauchmassage
                            </button>
                            <div id="pilvo" class="collapse customWidth"><p class="massageText">regt die Verdauung an, wirkt sich positiv auf die intra-abdominalen Organe aus, verbessert Magen- und Darmfunktionen sowie die Gallensekretion, hilft bei Verstopfung oder Gasansammlung im Darm</p></div>


                            <button type="button" class="btn btn-primary btn-round-lg btn-xs btn-block btn-width-custom" data-toggle="collapse" data-target="#juosmens" >
                                Lendenwirbel - Gesäß - Beinmassage
                            </button>
                            <div id="juosmens" class="collapse customWidth"><p class="massageText">Verbessert die Blut- und Lymphzirkulation im unteren Rücken und in den Beinen, entspannt enge Muskeln,  Gesäß, Beinschmerzen, stärkt die geschwächten Muskeln.
                                Verringert den Schmerz nach der Operation, reduziert die Entzündung der Nervenwurzeln.</p></div>

                            <button type="button" class="btn btn-primary btn-round-lg btn-xs btn-block btn-width-custom" data-toggle="collapse" data-target="#pedu" >
                                Entspannende Fussmassage
                            </button>
                            <div id="pedu" class="collapse customWidth"><p class="massageText">Gebrauchte müde Füsse zu entspannen, erhöhen Vitalität, Verbesserung der Immunität. Dieses Verfahren eignet sich für viele Menschen, die stehen oder eine Menge Leute auch, die einen kalten Fusse haben. Massage der Füsse hilft, den ganzen Körper wiederherzustellen und zu atmen.</p></div>



                        </div>
                    </div>
                    <p></p>
                </div>


                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#vyresnio">Massage für ältere Menscher
                    </button>
                    <p></p>
                    <div id="vyresnio" class="collapse">
                        <!--  <div class="text-center"><img src='@routes.Assets.at("images/img/mas3.jpeg")' class="img-circle"
                                                        alt="Medicine massage" width="250" height="250"></a></div>-->
                        <div class="customBackGroundOfDiv " align="center">

                            <p class="massageText customWidth"> Massage ist ein notwendiges und sehr nützliches Verfahren für ältere Menschen, Rentner. Studien haben gezeigt, dass die Massage den Alterungsprozess verlangsamt. Auch Massage hat eine beruhigende Wirkung im ganzen Körper und kann Schmerzen reduzieren.
                                </br>Мassage kann Menschen helfen, die unter Muskelschmerzen leiden: Zum Beispiel, diejenigen, die an Arthritis leiden, Massage hilft, Schmerzen zu reduzieren, erhöht die Amplitude der Bewegung in den Gelenken. Wenn eine Person leidet, wird sie immer weniger aktiv und beeinflusst die Lebensqualität und Gesundheit. Massage verbessert die Durchblutung, beseitigt Muskelermüdung und Muskeln erhalten Ton. Dies verbessert die Lebensqualität einer älteren Person.
                                </br>Vor einer Massage ist es ratsam, einen Arzt zu konsultieren. Sobald Sie die Erlaubnis vom Arzt für eine Massage bekommen, können Sie sich mit mir in Verbindung setzen.  </p>


                        </div>
                    </div>
                    <p></p>
                </div>



                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#atpalaiduojantis">Entspannende Ganzkörpermassagе
                    </button>
                    <p></p>
                    <div id="atpalaiduojantis" class="collapse">
                        <!--  <div class="text-center"><img src='@routes.Assets.at("images/img/mas3.jpeg")' class="img-circle"
                                                        alt="Medicine massage" width="250" height="250"></a></div>-->
                        <div class="customBackGroundOfDiv " align="center">

                            <p class="massageText customWidth"> Entspannende Massage für diejenigen, die nach einem anstrengenden Tag entspannen wollen, vergessen und weg von der täglichen Routine. Beseitigt Spannung und Stress, Anfälle, und Kopfschmerzen, entspannt die Muskeln, wirkt sich positiv auf den inneren Zustand des Körpers, verbessert die Stimmung und liefert die Energie wieder hergestellt.
                            </br> Absolute Entspannung von Kopf bis Fuss. Die umfassende Massage löst Verspannungen, lockert Muskeln und verleiht neue Energie und Vitalität.</p>

                        </div>
                    </div>
                    <p></p>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#ajurvedinis">Ayurvedische Brüstmassage für Frauen
                    </button>
                    <p></p>
                    <div id="ajurvedinis" class="collapse">
                        <!--  <div class="text-center"><img src='@routes.Assets.at("images/img/mas3.jpeg")' class="img-circle"
                                                        alt="Medicine massage" width="250" height="250"></a></div>-->
                        <div class="customBackGroundOfDiv " align="center">

                            <p class="massageText customWidth"> Ayurveda empfiehlt der Brüstemassage, denn hierdurch entsteht ein optimaler Stimulus zur Harmonisierung des weiblichen Hormonzyklus. Die Massage sorgt für straffe Haut und straffes Bindegewebe, verhindert Brustschmerzen, Verspannungen und Entzündungen im Brustbereich, beugt Zystenbildung und Brustkrebs vor, aktiviert das Herz und das Herzchakra.
                                </br>Die Massage wird mit der Verwendung von Pflanzenölen durchgeführt und dauert bis zu einer Stunde. Inklusive Arbeit mit dem Hals (Rücken- und Vorderflächen) und Schultern, Arbeiten mit dem Unterarmbereich, Hände, Bauch und natürlich mit der Brust.</p>

                        </div>
                    </div>
                    <p></p>
                </div>




                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-primary btn-round-lg btn-block " data-toggle="collapse" data-target="#anticeliulitinis" >
                        Anti-Cellulite Handmassage
                    </button>
                    <p></p>
                    <div id="anticeliulitinis" class="collapse">
                        <!--  <div class="text-center"><img src='@routes.Assets.at("images/img/massage164.jpg")'
                                                        class="img-circle" alt="Medicine massage" width="250"
                                                        height="250"></a></div>-->
                        <div class="customBackGroundOfDiv" align="center">


                           <p class="massageText customWidth">Dies ist eine besonders effektive Möglichkeit zur Bekämpfung von Cellulite, die verwendet wird, uneben subkutanes (Cellulite) Probleme in spezifischen Problembereichen zu reduzieren - Oberschenkel, Gesäß und Bauch.
                                     </br> Massage stimuliert die Zirkulation der Lymphe, erhöht Muskeltonus und Kontraktion durch die Reduzierung von Cellulite und Schwellungen. Löscht den Körper von Toxinen und hat eine ausgeprägte kosmetische Wirkung.
                            </br> Dies ist die kleinste Methode - verlässt keine Prellungen.</p></div>





                        </div>
                    </div>
                    <p></p>
                </div>

            </div>

        </div>
    </div>
    </div>
    <a href="#galerie" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>

</section >


<section id="galerie" class="content-section text-center">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <hr>
            <h2>Galerie</h2>
            <hr>

            <p></p>


            <div class="col-lg-4 ">
                <a href="@routes.Assets.at("images/img/6.jpg")"> <img src="@routes.Assets.at("images/img/6.jpg")" class="w3-image w3-round" alt="Buda" ></a>
            </div>

            <p></p>
            <div class="col-lg-4 ">
                <a href="@routes.Assets.at("images/img/jo.jpg")"> <img src="@routes.Assets.at("images/img/jo.jpg")" class="w3-image w3-round" alt="Buda" ></a>
            </div>
            <p></p>

            <div class="col-lg-4 ">
                <a href="@routes.Assets.at("images/img/8.jpg")"> <img src="@routes.Assets.at("images/img/8.jpg")" class="w3-image w3-round" alt="Buda" ></a>
            </div>


        </div>
    </div>
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <p></p>

            <div class="col-lg-4 ">
                <a href="@routes.Assets.at("images/img/9.jpg")"> <img src="@routes.Assets.at("images/img/9.jpg")" class="w3-image w3-round" alt="Buda" ></a>
            </div>
            <p></p>

            <div class="col-lg-4 ">
                <a href="@routes.Assets.at("images/img/no.jpg")"> <img src="@routes.Assets.at("images/img/no.jpg")" class="w3-image w3-round" alt="Buda" ></a>
            </div>
            <p></p>

            <div class="col-lg-4 ">
                <a href="@routes.Assets.at("images/img/nu2.jpg")"> <img src="@routes.Assets.at("images/img/nu2.jpg")" class="w3-image w3-round" alt="Buda" ></a>
            </div>
            <p></p>




        </div>




    </div>
    <a href="#preise" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
</div>
</section>



<section  class="content-section text-center">
    <div class="contact-section " id="preise">
        <div class="row" >
        <div class="col-md-8 col-md-offset-2 ">
            <div class="">
                    <hr>
                    <h2>Preise</h2>
                    <hr>


                    <div class="w3-container customBackGroundOfDiv">

                        <p></p>
                        <h5 align="center" ><u>Spa Massagen</u></h5>

                        <table class="table table-inverse">
                            <th scope="row" id="ulo"><u></u></th>
                            <td><b><u>Trukmė</u></b></td>
                            <td><b><u>Kaina</u></b></td>
                            <tbody>
                            <tr>
                                <th scope="row" id="ulo2">Hot and Cold Stone Massage</th>
                                <td>90 min.</td>
                                <td>170 CHF</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Hot and Cold Stone Massage</th>
                                <td>120 min.</td>
                                <td>220 CHF</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Manuelle  Lymphdrainagemassage Körper</th>
                                <td>90 min.</td>

                                <td>140 CHF</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Manuelle  Lymphdrainagemassage Gesicht</th>
                                <td>50 min.</td>

                                <td>90 CHF</td>
                            </tr>

                            <tr>
                                <th scope="row" id="ulo2">Ayurvedische Brustmassage für Frauen</th>
                                <td>60 min.</td>

                                <td>100 CHF</td>
                            </tr>

                            <tr>
                                <th scope="row" id="ulo2">Rückenmassage</th>
                                <td>90 min.</td>

                                <td>120 CHF</td>
                            </tr>

                            <tr>
                                <th scope="row" id="ulo2">Rückenmassage</th>
                                <td>?? min.</td>

                                <td>?? CHF</td>
                            </tr>



                            <tr>
                                <th scope="row" id="ulo2">Entspannende Ganzkörpermassagе </th>
                                <td>120 min.</td>

                                <td>200 CHF</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Entspannende Fussmassage</th>
                                <td>60 min.</td>

                                <td>100 CHF</td>
                            </tr>


                            </tbody>
                        </table>



                        <h5 align="center"><b><u>Andere Massagen</u></b></h5>

                        <table class="table table-inverse">
                            <th scope="row" id="ulo"><u>TEILKÖRPERMASSAGE</u> </th>
                            <td><b><u>30min</u></b></td>
                            <td><b><u>60min</u></b></td>
                            <td><b><u>90min</u></b></td>
                            <tbody>

                            <tr>
                                <th scope="row" id="ulo2">Massage Schulter-Hals-Hände</th>
                                <td>50 CHF</td>
                                <td>100 CHF</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Lendenwirbel - Gesäß – Beinmassage</th>
                                <td>50 CHF</td>
                                <td>100 CHF</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Kopfmassage</th>
                                <td>50 CHF</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Bauchmassage</th>
                                <td>50 CHF</td>
                                <td>--</td>
                                <td>--</td>


                            </tr>

                            <tr>

                                <th scope="row"><u></u> </th>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>

                                <th scope="row"><u></u> </th>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>



                            <th scope="row"><b><u id="ulo">Anti-Cellulite Handmassage mit</u> </b></th>
                            <td><b><u>30min</u></b></td>
                            <td><b><u>60min</u></b></td>
                            <td><b><u>90min</u></b></td>
                            <tr>
                            <tbody>
                            <th scope="row" id="ulo2">Gesäß</th>
                            <td>70 CHF</td>
                            <td>130 CHF</td>
                            <td>180 CHF</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Die Oberschenkel</th>
                                <td>70 CHF</td>
                                <td>130 CHF</td>
                                <td>180 CHF</td>
                            </tr>
                            <tr>
                                <th scope="row" id="ulo2">Bauch</th>
                                <td>70 CHF</td>
                                <td>130 CHF</td>
                                <td>180 CHF</td>
                            </tr>

                            <tr>

                                <th scope="row"><u></u> </th>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>

                                <th scope="row"><u></u> </th>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>


                            <th scope="row" id="ulo"><b><u>Massage für ältere Menschen, Rentner<u></b></th>
                            <td><b><u>60 min.</u></b></td>
                            <td><b><u>90 min.</u></b></td>
                            <td><b><u>120 min.</u></b></td>
                            <tbody>

                            <tr>
                                <th scope="row" id="ulo2">All diese Massagen sind auch für ältere Menschen geeignet</th>
                                <td>100 CHF</td>
                                <td>150 CHF</td>
                                <td>200 CHF</td>
                            </tr>


                            </tbody>
                        </table>
                        <p></p>



                        <h5 align="center"><b><u>GESCHENKE DER GESCHENKE</u></b></h5>

                        <table class="table table-inverse">


                            <tr>
                                <th scope="row"><u></u> </th>
                                <td>100 CHF</td>
                                <td>200 CHF</td>
                                <td>300 CHF</td>
                            </tr>



                        </table>

                    </div>

                </div>

            </div>
        </div>
    <a href="#fragen" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
        </div>
</section>



<section id="fragen" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="">
                <div class="container">

                    <h2>Stellen Sie Ihre Frage!</h2>
                    <p></p>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">




                            @helper.form(action = routes.HomeController.submitDE(),'class -> "form-horizontal") {




                            @helper.input(contactForm("Name"),'class->"form-control") { (id, name, value, args) =>
                            <input type="text" name="@contactForm.field("firstName").name"  placeholder="Ihr Name" id="@id" @toHtmlArgs(args)@if(contactForm.hasErrors) {
                            <option value='@contactForm.field("firstName").value'></option>}
                            }



                            <div id="xxx">
                                @for(error <- contactForm("firstName").errors) {
                                <p id="xxxx">@error.format(messages())</p>
                                }</div>



                            @helper.input(contactForm("E-Mail"),'class->"form-control") { (id, name, value, args) =>
                            <input type="text" name="@contactForm.field("email").name"  placeholder="Ihre E-Mail" id="@id" @toHtmlArgs(args)@if(contactForm.hasErrors) {
                            <option value='@contactForm.field("email").value'></option>}
                            }



                            <div id="xxx">
                                @for(error <- contactForm("email").errors) {
                                <p id="xxxx">@error.format(messages())</p>
                                }</div>







                            @helper.input(field = contactForm("Frage")) { (id, name, value, args) =>
                            <div>
                                <textarea class="form-control" name="@contactForm("textbox").name" id="@id" placeholder="Ihre Nachricht" rows='5' cols='80'>@if(contactForm.hasErrors){@contactForm.field("textbox").value}</textarea>
                            </div>
                            }
                            <div id="xxx">
                                @for(error <- contactForm("textbox").errors) {
                                <p id="xxxx">@error.format(messages())</p>
                                }</div>



                            <button type="submit"  class="btn btn-default" >Nachricht senden</button>

                            <div id="flash">@flash.get("success")</div>

                            @if(contactForm.hasGlobalErrors) {
                            <div id="xxx">
                                <p class="error" >
                                    @for(error <- contactForm.globalErrors) {
                                <p>@error.format(messages())</p>
                                @for(error <- contactForm("email").errors) {
                                <p>@error.format(messages())</p>
                                }
                                }
                                </p>
                            </div>
                            }
                            }


                            <p></p>
                            <h3>Unsere sozialen Netzwerke</h3>
                            <ul class="list-inline banner-social-buttons">
                                <li><a href="www.google.com" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                                <li><a href="@routes.HomeController.toFaceBook" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                                <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <a href="#kontakte" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>








</section>


<section>
    <hr>
    <!-- Map Section -->
    <div id="kontakte" class="text-center">
        <div class="row">
            <div class="col-lg-12 price-section2">
                <p></p>
                <h2>Kontaktinformation</h2>
                <p style="color:#fff;">
                    <strong><i class="fa fa-map-marker"></i> Adresse</strong><br>
                    ---
                </p>
                <p style="color:#fff;"><strong><i class="fa fa-phone"></i> Telefonnummer </strong><br>
                    +41 797897010</p>
                <p style="color:#fff;">
                    <strong><i class="fa fa-envelope"></i>  E-Mail</strong><br>
                    info@@vidamassage.ch</p>
                <p></p>
            </div>
        </div>
    </div>
    @if(contactForm.hasErrors){<script src="@routes.Assets.at("javascripts/js/returnToFormOnFailDE.js")"></script>}</script>

    <hr>
</section>





<section>
<!-- Map Section -->
<div id="mappp" class="text-center">
    <div class="row">
        <div class="col-lg-12">

<h2>Karte</h2>

    </div>
    </div>
</div>

</section>
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Vida Massage 2017</p>
    </div>
</footer>

<!-- jQuery -->
<script src='@routes.Assets.at("stylesheets/vendor/jquery/jquery.js")'></script>

<!-- Bootstrap Core JavaScript -->
<script src='@routes.Assets.at("stylesheets/vendor/bootstrap/js/bootstrap.min.js")'></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtkVXlKJlSvm85a7oRDMLw4ZOZaxYwKxM&sensor=false"></script>

<!-- Theme JavaScript -->
<script src='@routes.Assets.at("javascripts/js/grayscale.min.js")'></script>

</body>


}