@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href='@routes.HomeController.germanVersion'>
                <i class="fa fa-play-circle"></i> <span class="light">Vida</span> Massagen
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Über mich</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Massagen</a>
                </li>
                <li>
                    <a class="page-scroll" href="#kainos">Preise</a>
                </li>
                <li>
                    <a class="page-scroll" href="#klausk">Fragen</a>
                </li>
                <li>
                    <a class="page-scroll" href="#kontaktai">Kontakte</a>
                </li>

                <li>
                    <a class="page-scroll" href='@routes.HomeController.germanVersion'><img src='@routes.Assets.at("stylesheets/css/flag-de2.png")' class="flag flag-lt" alt="German" /></a>
                </li>

                <li>
                    <a class="page-scroll" href='@routes.HomeController.pagrindinis'><img src='@routes.Assets.at("stylesheets/css/flag-lt2.png")' class="flag flag-lt" alt="Lithuanian" /></a>
                </li>

                <li>
                    <a class="page-scroll" href="@routes.HomeController.russianVersion"><img src='@routes.Assets.at("stylesheets/css/flag-rus.png")' class="flag flag-lt" alt="Russian" /></a>
                </li>


            </ul>


        </div>

        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"></h1>
                    <p class="intro-text">Entspannen...</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-4">

            <h2 align="center"><u>Bildung</u></h2>
            <ul>
                <li>"Vilniuser Medizinischer Schule", Litauen.</li>
                <li>Universität Klaipeda - Bachelor Öffentliches "Gesundheitswesen verliehen".</li>
            </ul>

            <h2 align="center"><u>Erfahrung</u></h2>
            <ul>
                <li>27 Jahre: Krankenschwester.</li>
                <li>6 Jahre: Gesundheitswesen Specialist.</li>
                <li>6 Jahre: Masseurin.</li>
            </ul>

            <h2 align="center"><u>Kurse</u></h2>
            <ul>
                <li>2010 Jahre ,,Baltic SPA Professional“ Kursus / Lettland  SPA Massaeurin.</li>
                <li>2012 Jahre -  Fortbildungs- und Spezialisierungszentrum für Pflegepersonal. </li>
                <li>Bescheinigung Nr.KV 120146 erhält die Zulassung als Masseurin.</li>
            </ul>
        </div>
        <div class="col-lg-4 ">
            <img src='@routes.Assets.at("images/img/as2.jpg")' class="img-circle" alt="Medicine massage" height="600">

        </div>
        <div class="col-lg-4 ">

            <h2 align="center"><u>SPA Zertifizierungen</u></h2>
            <ul>

                <li>Klassische Segmentmassage </li>
                <li>Hot-Cold Stone Massage</li>
                <li>Lymphdrainage Massage</li>
                <li>Thai Fußmassage</li>
                <li>Traditionelle Ayurveda-Massage</li>
            </ul>
            <h2 align="center"><u>Therapeutische Massagen</u></h2>
            <ul>
                <li>Patienten mit Gelenken, der Wirbelsäule, neurologischen, Herz-Kreislauf- und Atemwegserkrankungen</li>
                <li>Metabolische Störungen</li>
                <li>Segmentmassage </li>
                <li>Bindegewebsmassage</li>
                <li>Kindermassage</li>
                <li>Sportmassage </li>
            </ul>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <h2>Massagen</h2>
        <div class="container">

            <div class="row">

                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
                        Limfodrenažinis masažas
                    </button>
                    <p></p>
                    <div id="demo" class="collapse">
                        <div class="text-center"><img src='@routes.Assets.at("images/img/massage164.jpg")'
                                                      class="img-circle" alt="Medicine massage" width="250"
                                                      height="250"></a></div>
                        <div id="lopas">
                            <p class="text-justify">
                            <ul>
                                <li>Tai saugus efektyvus būdas sustiprinti sveikatą bei palaikyti gerą savijautą.
                                    Sveikiems žmonėms - tai profilaktinė priemonė, palaikanti normalią medžiagų
                                    apykaitą.
                                </li>
                                <li> Masažo metu suaktyvinami pažeistų minkštųjų audinių regeneracijos procesai,
                                    slopinami uždegiminiai procesai, sustiprinamas imunitetas, pagerinamas audinių
                                    aprūpinimas deguonimi.
                                </li>
                                <li> Limfodrenažinis masažas tinka visiems, kurie jaučia kojų pabrinkimą, patinimą ar
                                    tiesiog nuovargį. Po ilgos dienos jis puikiai atpalaiduoja pavargusias kojas ir
                                    suteikia lengvumo pojūtį. Taip pat tinka žmonėms, kurių kojos visada šaltos.
                                </li>
                                <li> Šis masažas grožio tikslais naudojamas celiulito gydymui ir profilaktikai, odos
                                    stangrinimui, apimčių mažinimui, bendrai savijautai gerinti ir mažinti patinimus po
                                    plastinių operacijų.
                                </li>
                                <li> Šis masažas atliekamas moterims ir vyrams.
                                <li> Gydymui ši procedūra skiriama kasdien, profilaktiškai - 2-3 kartus per savaitę.
                                    Norimas efektas pasiekiamas po 15 procedūrų.
                                </li>


                            </ul></div>
                    </div>
                    <p></p>
                </div>


                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Karštų-šaltų
                        akmenų masažas
                    </button>
                    <p></p>
                    <div id="demo2" class="collapse">
                        <div class="text-center"><img src='@routes.Assets.at("images/img/mas3.jpeg")' class="img-circle"
                                                      alt="Medicine massage" width="250" height="250"></a></div>
                        <div id="lopas">
                            <p class="text-justify">
                            <ul>
                                <li> Akmenys turi savybę iš raumenų pašalinti toksines medžiagas, susikaupusias dėl
                                    streso ir nesveiko gyvenimo būdo, gerina miegą, padeda sureguliuoti kraujospūdį,
                                    teigiamai veikia širdies ritmą, sužadinamos natūralios organizmo galios, padedančios
                                    įveikti ligas, paspartinamas gijimo procesas.
                                    Ši terapija veikia daugelį organizmo grandžių:
                                </li>
                                <li> Stimuliuoja imuninę sistemą;</li>
                                <li> Suaktyvina kraujotaką;</li>
                                <li>Pagerėja aprūpinimas deguonimi;</li>
                                <li> Lengvai ir maloniai numalšina raumenų, nugaros, galvos ir kaklo skausmus;</li>
                                <li> Teigiamai veikia nervinę sistemą;</li>
                                <li>Gerindama metabolizmą, padeda atsikratyti riebalų pertekliaus.</li>
                                <li>Šis masažas ypač tinka pervargus, patyrus gilų stresą, jaučiant nervingumą, apatiją,
                                    miego sutrikimus.
                                </li>

                            </ul>
                        </div>
                    </div>
                    <p></p>
                </div>

                <div class="col-lg-4 ">


                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Klasikinis
                        Segmentinis masažas
                    </button>
                    <p></p>
                    <div id="demo3" class="collapse">
                        <div class="text-center"><img src='@routes.Assets.at("images/img/mas2.jpg")' class="img-circle"
                                                      alt="Medicine massage" width="250" height="250"></a></div>
                        <div id="lopas">
                            <p class="text-justify">
                            <ul>
                                <li>Klasikinis lalallalalalalallalalala ir t.t.</li>
                            </ul>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section >

<section id="kainos" class="content-section text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="contact-section">
                <div class="container">
                    <hr>
                    <h2>Preise</h2>
                    <hr>
                </div>


            </div>
        </div>
    </div>

</section>
<!-- Contact Section -->


<section id="klausk" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="contact-section">
                <div class="container">

                    <h2>Ihre Fragen!</h2>
                    <p></p>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="firstName">Name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Stasys Bardiuras" >
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">E-Mail</label>
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Jane@@vania.lt" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputText">Ihre Nachricht</label>
                                    <textarea  class="form-control" id="exampleInputText" placeholder="Klausimas" required="required"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Schicke eine Nachricht</button>
                            </form>


                            <!--
                            <h3>Mūsų socialiniai tinklai</h3>
                            <ul class="list-inline banner-social-buttons">
                                <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                                <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                                <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>


        </div>
        </div>
    </div>








</section>


<section>
    <hr>
    <!-- Map Section -->
    <div id="kontaktai" class="text-center">
        <div class="row">
            <div class="col-lg-12">
                <p></p>
                <h2>Kontaktinformation</h2>
                <p style="color:#fff;">
                    <strong><i class="fa fa-map-marker"></i> Adresse</strong><br>
                    Villenstrasse 35, Šafhauzenas, 8200, Schweiz
                </p>
                <p style="color:#fff;"><strong><i class="fa fa-phone"></i> Telefonnummer </strong><br>
                    +41 797897010</p>
                <p style="color:#fff;">
                    <strong><i class="fa fa-envelope"></i>  E-Mail</strong><br>
                    polescuk@@gmail.com</p>
                <p></p>
            </div>
        </div>
    </div>
<hr>
</section>





<section>
<!-- Map Section -->
<div id="map" class="text-center">
    <div class="row">
        <div class="col-lg-12">

<h2>Sie sollten verdammt Karte, aber der Empfänger funktioniert nicht</h2>

    </div>
    </div>
</div>

</section>
<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Vida Massage 2017</p>
    </div>
</footer>

<!-- jQuery -->
<script src='@routes.Assets.at("stylesheets/vendor/jquery/jquery.js")'></script>

<!-- Bootstrap Core JavaScript -->
<script src='@routes.Assets.at("stylesheets/vendor/bootstrap/js/bootstrap.min.js")'></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtkVXlKJlSvm85a7oRDMLw4ZOZaxYwKxM&sensor=false"></script>

<!-- Theme JavaScript -->
<script src='@routes.Assets.at("javascripts/js/grayscale.min.js")'></script>

</body>


}