@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)
<!DOCTYPE html>
<html lang=de>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=description content="Vida Massagen sind Gesundheit und Vergnügen für Ihren Körper. Es ist ideal für diejenigen, die sich entspannen, Kraft wiederherstellen und den Körper entspannen wollen. Versuchen Sie es heute!">
    <meta name=keywords content="Spa Massagen, Gesundheit, Manuelle Lymphdrainagemassage, Hot and Cold Stone, Rückenmassage, Anti-Cellulite, Entspannende, Ayurvedische, Lendenwirbel, Gesicht, Kopf, Hände, Bein, Schulter, Fuss, Bauch, Hals,  Gesäß, Oberschenkel.">
    <meta name=author content>
    <title>Vida Massage</title>
    <link  href="@routes.Assets.at("favicon.ico")" rel="shortcut icon" type="image/x-icon">
    <link href='@routes.Assets.at("stylesheets/vendor/bootstrap/css/bootstrap.min.css")' rel=stylesheet>
    <link href='@routes.Assets.at("stylesheets/vendor/font-awesome/css/font-awesome.min.css")' rel=stylesheet type=text/css>
    <link rel=stylesheet href="@routes.Assets.at("stylesheets/css/w3.css")">
    <link href='@routes.Assets.at("stylesheets/css/grayscale.min.css")' rel=stylesheet>
    <link href='@routes.Assets.at("stylesheets/css/special.css")' rel=stylesheet>
    <!--[if lt IE 9]>
    <script src=https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js></script>
    <script src=https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js></script>
    <![endif]-->
</head>
<body>
@* And here's where we render the `Html` object containing
* the page content. *@
@content
</body>
</html>