.provideBorder {
    border: 1px solid #1b51be;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.doCenter {
    align-self: center;
    display: block;
}

.tc {
    text-align: left;
    margin: auto;
    /*text-justify: distribute;*/
    /*word-break: break-all;*/
}

.la1{
    margin: 0px 100px 0px 100px;
}

.tc11 {
    text-align: center;
    /*text-justify: distribute;*/
    /*word-break: break-all;*/
}

.tc2 {
    text-align: center;
    font-weight:600;
}

.jeezus{
    position:relative;
}


.tc3 {
    text-align: center;
}

.tc4 {
    text-align: justify;
    margin: auto;
    /*text-justify: distribute;*/
    /*word-break: break-all;*/
}

.centerContactUs {
    float: none;
    margin: 0 auto;
}

.bookingForm {
    border: 2px solid #d28f40;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*height:28px;*/

}

.captchaTest {
    -webkit-transform: scale(1.10);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    align-self: center;
}


.myTestImage{
    border-radius:5px 50px 5px;
}

.customImage {
    max-height: 35%;
}


/*.chi{*/
/*margin:1px;*/
/*}*/

/*.imgSize{*/
/*max-height:400px;*/
/*}*/
.padla {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.kurva {
    align-self: flex-end;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    padding: 0.5em;
    width: 100%;
}

.sizeLimit {
    max-width: 260px;
    max-height: 240px;
    -webkit-border-radius: 75%;
    -moz-border-radius: 75%;
    border-radius: 75%;
}

.list-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    width: 100%;
}

.list-content p {
    flex: 1 0 auto;
}


.text-success1{
    background-color:red;
    color:white;
}

.testy11 {
    font-weight: bold;
    display:block;
    /*border:1px black solid;*/
    text-align: center;
    text-decoration: underline;

}

.dzyzus {
    list-style-type: square;
    /*border:1px green solid;*/
    text-align: right;

}

.dzyzus2 {
      list-style-position: inside;
    text-align:center
}


.bb1 {
        /*border:1px black solid;*/

}
.bb2 {
        /*border:1px red solid;*/

}

.bb3 {
    margin-top: 10px;
}
.bb4 {
    margin-top: 5px;
}

.bb5 {
    font-weight: bold;
}

.borderOut{


}


.borderMode1{
    border: yellow solid 1px;
}


.justme1{
word-break:break-all;
}

.borderMode2{
    border: red solid 1px;
}

.borderMode3{
    border: green solid 1px;
}

.bbg{
    background-color: green;
}


.bbg2{
    background-color: #3ca0dd;
}
.colorMe{
    color:red;
}
.note1{
    text-align: left;
    /*font-size: 85%;*/
    font-style: italic;
}

.note2{
    text-align: left;
    /*font-size: 85%;*/
    font-weight: bold;
    margin-bottom: 0;
}

.test123 {
    color: white;
   
}
.test222{
    color: black;
}
.oppet{
color: #DE2941;
    text-align: top;
    filter: brightness(85%);


}

.cece{

color: white;
filter: brightness(185%);
text-align:center;
}

.oppet2{
color: #1E38E2;
filter: brightness(85%);
    text-align: top;


}


.oppet3{
color: #ee4b28;

    text-align: top;

}


.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }

.notice{
    text-decoration: underline;


  }


/*
Copyright 2018 Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found
in the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
    color: #ee4b28;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #ee4b28;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/
