.provideBorder {
    border: 1px solid #81a2be;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.doCenter {
    align-self: center;
    display: block;
}

.tc {
    text-align: left;
    margin: auto;
    /*text-justify: distribute;*/
    /*word-break: break-all;*/
}

.tc2 {
    text-align: center;
}

.tc3 {
    text-align: center;
}

.tc4 {
    text-align: justify;
    margin: auto;
    /*text-justify: distribute;*/
    /*word-break: break-all;*/
}

.centerContactUs {
    float: none;
    margin: 0 auto;
}

.bookingForm {
    border: 2px solid #d28f40;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*height:28px;*/

}

.captchaTest {
    -webkit-transform: scale(1.10);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    align-self: center;
}


.myTestImage{
    border-radius:5px 50px 5px;
}

.customImage {
    max-height: 35%;
}


/*.chi{*/
/*margin:1px;*/
/*}*/

/*.imgSize{*/
/*max-height:400px;*/
/*}*/
.padla {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.kurva {
    align-self: flex-end;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    padding: 0.5em;
    width: 100%;
}

.sizeLimit {
    max-width: 242px;
    max-height: 200px;
}

.list-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    width: 100%;
}

.list-content p {
    flex: 1 0 auto;
}





